<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body class="text-center">
		<form class="form-signin" action="console.html" th:action="@{/home/login}" method="post">

			<label class="sr-only" th:text="username">Username</label>
			<input type="text"  name="username" class="form-control" placeholder="Username" required="" autofocus="">
			<label class="sr-only" th:text="password">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" required="">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

		</form>
	</body>

</html>